<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.parameter.Provider"/>
      <class name="com.groups.Groups"/>
      <class name="com.parallel.ParallelOnTest"/>
      <class name="com.parallel.ParallelTest2"/>
      <class name="com.suite.PayTest"/>
      <class name="moco.MyHttpClient"/>
      <class name="com.timeOut.TimeOut"/>
      <class name="com.interfaceTesting.BasicAnnotation"/>
      <class name="com.dependOn.DependOn"/>
      <class name="com.suite.LoginTest"/>
      <class name="com.reports.TestReport"/>
      <class name="com.parallel.ParallelTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
